<div class="logout-modal-container">
  <div class="modal-header">
    <div class="icon-wrapper">
      <div class="icon-circle">
        <div class="icon-inner-circle">
          <mat-icon class="header-icon">power_settings_new</mat-icon>
        </div>
        <div class="icon-pulse"></div>
      </div>
    </div>
    <h2 class="modal-title">Logout Confirmation</h2>
    <p class="modal-subtitle">Are you sure you want to sign out of your account?</p>
  </div>
  
  <mat-dialog-content class="modal-content">
    <div class="info-card">
      <div class="info-icon-wrapper">
        <mat-icon class="info-icon">info_outline</mat-icon>
      </div>
      <div class="info-content">
        <p class="info-title">What happens next?</p>
        <p class="info-text">You'll be signed out and redirected to the login page. You'll need to enter your credentials again to access your account.</p>
      </div>
    </div>
  </mat-dialog-content>
  
  <mat-dialog-actions class="modal-actions">
    <button 
      type="button"
      mat-stroked-button 
      (click)="close()" 
      class="cancel-button"
    >
      <mat-icon class="button-icon">close</mat-icon>
      <span>Stay Signed In</span>
    </button>
    <button
      type="button"
      mat-raised-button
      [mat-dialog-close]="1"
      (click)="logout()"
      class="logout-button"
    >
      <mat-icon class="button-icon">logout</mat-icon>
      <span>Yes, Logout</span>
    </button>
  </mat-dialog-actions>
</div>
