<div class="delete-modal-container">
  <div class="modal-header">
    <div class="icon-container">
      <div class="icon-circle">
        <mat-icon class="header-icon">power_settings_new</mat-icon>
      </div>
    </div>
    <h2 class="modal-title">Confirm Logout</h2>
    <p class="modal-subtitle">Are you sure you want to logout from your account?</p>
  </div>
  
  <mat-dialog-content class="modal-content">
    <div class="warning-box">
      <mat-icon class="warning-icon">info</mat-icon>
      <p class="warning-text">You will need to login again to access your account.</p>
    </div>
  </mat-dialog-content>
  
  <mat-dialog-actions class="modal-actions">
    <button 
      type="button"
      mat-flat-button 
      (click)="close()" 
      class="cancel-button"
    >
      <span>Cancel</span>
    </button>
    <button
      type="button"
      mat-flat-button
      [mat-dialog-close]="1"
      (click)="logout()"
      class="logout-button"
    >
      <mat-icon class="button-icon">logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-dialog-actions>
</div>
