<div class="content-color">
  <mat-nav-list>
    <div class="menu">
      <a
        class="mat-list-item mb-2"
        mat-list-item
        routerLink="form"
        routerLinkActive="list-item-active"
        (click)="onNavClick()"
      >
        <span> <mat-icon class="mat-icon">home</mat-icon> Manual Recharge</span>
      </a>
      <a
        class="mat-list-item mb-2"
        mat-list-item
        routerLink="manual-redeem"
        routerLinkActive="list-item-active"
        (click)="onNavClick()"
      >
        <span>
          <mat-icon class="mat-icon">dashboard</mat-icon> Manual Redeem
        </span>
      </a>
      <!-- <a
        class="mat-list-item mb-2"
        mat-list-item
        routerLinkActive="list-item-active"
      >
        <span>
          <mat-icon class="mat-icon">dashboard</mat-icon> Domain Emails
        </span>
      </a> -->
      <a
        *ngIf="isSuperAdmin"
        class="mat-list-item mb-2"
        mat-list-item
        routerLink="setting"
        routerLinkActive="list-item-active"
        (click)="onNavClick()"
      >
        <span> <mat-icon class="mat-icon">settings</mat-icon> Settings </span>
      </a>
      <a
        *ngIf="isSuperAdmin"
        class="mat-list-item mb-2"
        mat-list-item
        routerLink="game-list"
        routerLinkActive="list-item-active"
        (click)="onNavClick()"
      >
        <span> <mat-icon class="mat-icon">view_list</mat-icon> Game List </span>
      </a>
      <a
        class="mat-list-item mb-2"
        mat-list-item
        routerLink="history"
        routerLinkActive="list-item-active"
        (click)="refreshHistoryDetails(); onNavClick()"
      >
        <span> <mat-icon class="mat-icon">history</mat-icon> History </span>
      </a>
      <a
        class="mat-list-item mb-2"
        mat-list-item
        routerLink="player-registration"
        routerLinkActive="list-item-active"
        *ngIf="isOrgAdmin"
        (click)="onNavClick()"
      >
        <span>
          <mat-icon class="mat-icon">person_add</mat-icon> Register Player
        </span>
      </a>
      <a
        class="mat-list-item mb-2"
        mat-list-item
        routerLink="player-list"
        routerLinkActive="list-item-active"
        *ngIf="isSuperAdmin || isOrgAdmin"
        (click)="onNavClick()"
      >
        <span>
          <mat-icon class="mat-icon">person</mat-icon> Player's List
        </span>
      </a>
      <!-- Super Admin Only: Organization Management -->
      <a
        *ngIf="isSuperAdmin"
        class="mat-list-item mb-2"
        mat-list-item
        routerLink="organization"
        routerLinkActive="list-item-active"
        (click)="onNavClick()"
      >
        <span>
          <mat-icon class="mat-icon">business</mat-icon> Organization 
        </span>
      </a>
      <!-- Super Admin Only: Create Admin User -->
      <a
        *ngIf="isSuperAdmin"
        class="mat-list-item mb-2"
        mat-list-item
        routerLink="admin-user"
        routerLinkActive="list-item-active"
        (click)="onNavClick()"
      >
        <span>
          <mat-icon class="mat-icon">admin_panel_settings</mat-icon> Create Admin User 
        </span>
      </a>
      <a
        class="mat-list-item mb-2"
        mat-list-item
        (click)="openDialog(); onNavClick()"
        routerLinkActive="list-item-active"
      >
        <span>
          <mat-icon class="mat-icon">power_settings_new</mat-icon> Logout
        </span>
      </a>
    </div>
  </mat-nav-list>
</div>
